body {
  margin: 0;
  font-size: 16px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background: lightgray;
  line-height: 1.5;
}

span {
  outline: none;
  border-bottom: 1px dashed gray;
}

img {
  max-width: 50%;
}

input[type="number"] {
  width: 50px;
}

.app {
  width: 800px;
  background: white;
  padding: 32px;
}

.editable {
  border: 1px dashed gray;
  border-radius: 2px;
  padding: 8px;
  outline: none;
  width: 100%;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.h1 {
  font-size: 2rem;
  font-weight: bold;
}

.h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
}

.section {
  margin-top: 32px;
  margin-bottom: 64px;
  padding-right: 16px;
  border-right: 1px solid black;
}

.element {
  margin-top: 32px;
  padding-right: 16px;
  border-right: 1px solid gray;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}