
.section {
  margin-top: 32px;
  /* margin-bottom: 64px; */
  padding: 32px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

@media (max-width: 900px) {
  .section {
    border-radius: 0;
  }
}