
.app {
  min-width: 800px;
  max-width: 800px;
  padding: 32px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  height: 100vh;
}

.button-menu {
  border-style: solid;
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

@media (max-width: 900px) {
  .app {
    padding: 0;
    max-width: none;
  }
}




.dropzone {
  box-sizing: border-box;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  background: rgba(96, 167, 220, 0.8);
  border: 11px dashed #60a7dc;
}
